In [ ]:
tekst = input('wprowadź tekst')

In [3]:
# kalkulator
a = input('podaj a')
b = input('podaj b')
af = float(a)
bf = float(b)
print('a + b to', af + bf)

podaj a 3
podaj b 3

a + b to 6.0

In [4]:
print('blablbbalbla')

blablbbalbla

In [7]:
type(24)

int

In [8]:
2 ** 8

256

In [9]:
256 ** (1/8)

2.0

In [15]:
def pierw(x):
    wynik = x ** (1 / 2)
    return wynik

In [11]:
pierw(4)

2.0

In [12]:
pierw(16)

4.0

In [13]:
pierw(9)

3.0

In [16]:
a = pierw(3)
b = pierw(4)

In [19]:
print('pierwiastek z trzech to', pierw(3))

pierwiastek z trzech to 1.7320508075688772

In [25]:
def troll(napis = 'trollololo', ile = 100):
    wynik = (napis + ' ') * ile
    print(wynik)

In [17]:
troll(4, 'blabla')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [18]:
troll(ile = 4, napis = 'blabla')

blabla blabla blabla blabla

In [23]:
troll()

TypeError: troll() missing 1 required positional argument: 'napis'

In [24]:
troll('kanapa')

kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa kanapa

In [26]:
troll()

trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo trollololo

In [28]:
# funkcja pierwiastek
# dwa argumenty - x i st
# x >= 0
# st float

def pierwiastek(x, st = 2.0):
    if x < 0:
        print('Uwaga! X mniejszy od zera')
        return 0
    else:
        wynik = x ** (1 / st)
        return wynik

In [29]:
pierwiastek(4)

2.0

In [30]:
pierwiastek(4, 3)

1.5874010519681994

In [31]:
pierwiastek(-123.32)

Uwaga! X mniejszy od zera

0

In [32]:
a = pierwiastek(256, 8)

In [33]:
a

2.0

In [49]:
def srednia(lista, zaokr = 3):
    suma = 0
    for el in lista:
        if type(el) == int or type(el) == float:
            suma = suma + el
    wynik = suma / len(lista)
    return round(wynik, zaokr)

In [54]:
oceny = [2, 3, 1, 3, 2, 3.0, 2, 3, 4, 1, 2, 'coa']

srednia(oceny)

2.167

In [36]:
oceny

[2, 3, 1, 3, 2]

In [37]:
len(oceny)

5

In [41]:
suma = 0
for ocena in oceny:
    suma = suma + ocena
suma / len(oceny)

2.2

In [59]:
odp = input('Udziel odpowiedzi')

Udziel odpowiedzi 2

In [57]:
int(odp)

5

In [ ]:
def zadaj_pytanie(tresc_pytania):
    return odpowiedz

In [63]:
tekst = input('podaj tekst')

podaj tekst

In [3]:
a = input('podaj a')
b = input('podaj b')
a_f = float(a)
b_f = float(b)
print(a_f + b_f)

podaj a 234
podaj b 234

468.0

In [69]:
type(a)

str

In [70]:
type(b)

str

In [2]:
print('cośtam', 'albo', 'kilka', 'argumentów')

cośtam albo kilka argumentów

In [4]:
2 ** 8

256

In [5]:
256 ** (1 / 8)

2.0

In [6]:
4 ** (1 / 2)

2.0

In [7]:
def pierwiastek(x):
    wynik = x ** (1 / 2)
    return wynik

In [8]:
pierwiastek(4)

2.0

In [9]:
pierwiastek(16)

4.0

In [10]:
a = pierwiastek(32)

In [11]:
a

5.656854249492381

In [12]:
print('pierwiastek z dwóch to', pierwiastek(2))

pierwiastek z dwóch to 1.4142135623730951

In [13]:
def pierwiastek(x, st):
    wynik = x ** (1 / st)
    return wynik

Argumenty przez pozycję:

In [15]:
pierwiastek(16, 4)

2.0

Argumenty przez nazwę:

In [18]:
pierwiastek(st = 4, x = 16)

2.0

In [19]:
'napis' * 100

'napisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapisnapis'

In [25]:
def troll(napis='trolololo', ile=100):
    wynik = (napis + ' ') * ile
    print(wynik)

In [26]:
troll('blabla', 4)

blabla blabla blabla blabla

In [27]:
troll('blabla')

blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla blabla

In [28]:
troll()

trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo

In [29]:
troll(ile=15)

trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo trolololo

In [15]:
def srednia(lista, zaokr=3):
    suma = 0
    for i in lista:
        suma = suma + i
    wynik = suma / len(lista)
    return round(wynik, zaokr) # zwróć średnią arytmetyczną

In [7]:
a = [1,32,1,3123,312]
srednia(a) # zwraca średnią

693.8

In [8]:
oceny = [3, 4, 2, 2, 2, 3, 4]

In [9]:
oceny

[3, 4, 2, 2, 2, 3, 4]

In [10]:
srednia(oceny)

2.857

In [14]:
srednia([1, 2, 3, 6,6,6,6], 4)

4.2857

In [16]:
x = srednia([0,1,2,3,4,5])

In [17]:
srednia([3, 3, 4, 5, 5, 5, 2])

3.857

ALa ma kota. -> Ala ma kota.

ALA ma kota.

Ala Ma Kota.

Kot ma Alę. -> Kot ma alę.

In [18]:
def poprawnosc(zdanie):
    pierwsza_litera = zdanie[0].upper()
    reszta_liter = zdanie[1:].lower()
    return pierwsza_litera + reszta_liter

In [19]:
poprawnosc('ADSLA ma kota.')

'Adsla ma kota.'

In [21]:
poprawnosc('ala ma kota.')

'Ala ma kota.'

In [ ]:
poprawnosc('Kot ma Alę.')

In [29]:
tekst = input('Podaj tekst')

Podaj tekst

In [30]:
tekst

''

In [32]:
a = input('podaj a')
b = input('podaj b')
a_f = float(a)
b_f = float(b)
print(a_f + b_f)

podaj a 3
podaj b 3

6.0