In [1]:
type(True)

bool

In [2]:
type(False)

bool

In [3]:
3 > 2

True

In [4]:
2 > 3

False

In [7]:
123 * 1000000 > 10 ** 10

False

In [8]:
sqrt(4)

NameError: name 'sqrt' is not defined

In [10]:
import math
math.sqrt(4)

2.0

In [11]:
8 ** (1 / 3)

2.0

In [12]:
16 ** (1 / 2)

4.0

In [13]:
4 >= 4

True

In [14]:
4 <= 4

True

In [15]:
20 = 20

SyntaxError: can't assign to literal (<ipython-input-15-3b79c347917c>, line 1)

In [16]:
zmienna = 20

In [17]:
zmienna

20

In [18]:
zmienna = 21

In [19]:
20 != 20

False

In [20]:
True and True

True

In [21]:
True and False

False

In [22]:
False and True

False

In [23]:
False and False

False

In [26]:
a = 1230

In [27]:
a > 1000 and a % 3 == 0

True

In [28]:
False or False

False

In [29]:
True or False

True

In [30]:
True or True

True

In [31]:
2 ** 20 > 1000000 or 2 ** 20 % 5 ==0

True

In [32]:
2 ** 20 > 1000000

True

In [33]:
2 ** 20 % 5 ==0

False

In [34]:
not (2 ** 20 > 1000000) or 2 ** 20 % 5 == 0

False

In [35]:
not (not True and not True) and not (False or not True)

True

In [41]:
a = 9
if a % 2 == 0:
    print("a jest parzysta")

In [39]:
if False:
    print("nie rob nic")

In [42]:
if 1:
    print("ble")

ble

In [47]:
bool(0)

False

In [48]:
if "spam" != "eggs":
    spam = "eggs"
    eggs = "spam"
    if spam == "eggs":
        eggs = "eggs"
        spam = "spam"
        eggs = spam
        
if "eggs" == spam:
    print("SPAAAAAM!!!")

In [51]:
a = 11

if a % 2 == 0:
    print("bla")
    print("blabla")
    print("blablablabla")
    
print("cośtam")

cośtam

In [52]:
tekst = "blablabla"

if tekst == "Ala ma kota":
    print("to świetnie")
else:
    print("Ala nie ma kota")

Ala nie ma kota

In [55]:
a = 1011 * 2

if a % 2 == 0:
    print("Jest parzyste")
else:
    print("Jest nieparzyste")

Jest parzyste

In [58]:
a = 233

if a % 10 == 0:
    print(" a jest podzielne przez 10")
elif a % 5 == 0:
    print("a jest podzielne przez 5")
elif a % 2 == 0:
    print("a nie dzieli sie przez 10 ani przez 5 ale jest parzyste")
else: 
    print("a nie dzieli sie przez 10 5 ani 2")

a nie dzieli sie przez 10 5 ani 2

In [59]:
imiona = ["Ania", "Basia", "Czesiu", "Franek", "Zenek"]

In [60]:
imiona

['Ania', 'Basia', 'Czesiu', 'Franek', 'Zenek']

In [61]:
imiona[2]

'Czesiu'

In [62]:
type(imiona[2])

str

In [63]:
type(imiona)

list

In [64]:
imiona[0]

'Ania'

In [66]:
imiona[4]

'Zenek'

In [67]:
imiona[-1]

'Zenek'

In [68]:
imiona[-2]

'Franek'

In [69]:
imiona[-3]

'Czesiu'

In [70]:
imiona

['Ania', 'Basia', 'Czesiu', 'Franek', 'Zenek']

In [71]:
imiona[0:3]

['Ania', 'Basia', 'Czesiu']

In [73]:
imiona[3:5]

['Franek', 'Zenek']

To jest tzw. subsetting czyli tworzenie podzbiorów. Bo zbiór to po angielsku set.

In [74]:
imiona.append("Kasia")
imiona.append("Zosia")

In [75]:
imiona

['Ania', 'Basia', 'Czesiu', 'Franek', 'Zenek', 'Kasia', 'Zosia']

In [76]:
imiona[2:5]

['Czesiu', 'Franek', 'Zenek']

In [77]:
imiona[1:3]

['Basia', 'Czesiu']

In [78]:
imiona[1:-1]

['Basia', 'Czesiu', 'Franek', 'Zenek', 'Kasia']

In [79]:
imiona[1:-2]

['Basia', 'Czesiu', 'Franek', 'Zenek']

In [80]:
chlopy = imiona[2:5]

In [81]:
chlopy

['Czesiu', 'Franek', 'Zenek']

In [82]:
imiona

['Ania', 'Basia', 'Czesiu', 'Franek', 'Zenek', 'Kasia', 'Zosia']

In [83]:
imiona[3:]

['Franek', 'Zenek', 'Kasia', 'Zosia']

In [84]:
imiona[:5]

['Ania', 'Basia', 'Czesiu', 'Franek', 'Zenek']

In [85]:
tekst = 'ala ma kota'

In [86]:
tekst

'ala ma kota'

In [87]:
tekst[4:6]

'ma'

In [92]:
tekst[-1]

'a'

In [93]:
ma_kota = tekst[4:]

In [94]:
ma_kota

'ma kota'

In [95]:
imiona

['Ania', 'Basia', 'Czesiu', 'Franek', 'Zenek', 'Kasia', 'Zosia']

In [96]:
imiona.append("Grzesiu")

In [97]:
imiona

['Ania', 'Basia', 'Czesiu', 'Franek', 'Zenek', 'Kasia', 'Zosia', 'Grzesiu']

In [98]:
imiona.insert(1, "Grażyna")

In [99]:
imiona

['Ania',
 'Grażyna',
 'Basia',
 'Czesiu',
 'Franek',
 'Zenek',
 'Kasia',
 'Zosia',
 'Grzesiu']

In [100]:
len(imiona)

9

In [101]:
len("ala ma kota")

11

In [102]:
len(imiona)

9

In [103]:
len(666)

TypeError: object of type 'int' has no len()

In [104]:
len(str(666))

3

In [105]:
imiona

['Ania',
 'Grażyna',
 'Basia',
 'Czesiu',
 'Franek',
 'Zenek',
 'Kasia',
 'Zosia',
 'Grzesiu']

In [106]:
imiona.pop(4)

'Franek'

In [107]:
imiona

['Ania', 'Grażyna', 'Basia', 'Czesiu', 'Zenek', 'Kasia', 'Zosia', 'Grzesiu']

In [108]:
imiona.append("Józiu")

In [109]:
imiona.remove("Kasia")

In [110]:
imiona

['Ania', 'Grażyna', 'Basia', 'Czesiu', 'Zenek', 'Zosia', 'Grzesiu', 'Józiu']

In [111]:
imiona.sort()

In [112]:
imiona

['Ania', 'Basia', 'Czesiu', 'Grażyna', 'Grzesiu', 'Józiu', 'Zenek', 'Zosia']

In [113]:
liczby = [1, 4, 6, 12, 2, -1, -123, 10000, -2]

In [114]:
liczby.sort()

In [115]:
liczby

[-123, -2, -1, 1, 2, 4, 6, 12, 10000]

In [116]:
lista = [-1, 4, -100, "ala", "ma", "psa"]

In [117]:
lista.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [119]:
str(lista).sort()

AttributeError: 'str' object has no attribute 'sort'

In [120]:
imiona

['Ania', 'Basia', 'Czesiu', 'Grażyna', 'Grzesiu', 'Józiu', 'Zenek', 'Zosia']

In [121]:
imiona.reverse()

In [123]:
imiona

['Zosia', 'Zenek', 'Józiu', 'Grzesiu', 'Grażyna', 'Czesiu', 'Basia', 'Ania']

In [129]:
twoje_imie = input("Jak masz na imię?")
print(twoje_imie)

Jak masz na imię? kasia

kasia

In [127]:
twoje_imie

'Grzesiu'

In [1]:
a = input("Podaj liczbę: ")
a = int(a)

if a % 2 == 0:
    print("Jest parzyste")
else:
    print("Jest nieparzyste")

Podaj liczbę:  1234

Jest parzyste

In [2]:
pusta_lista = []
rzecz = input("podaj rzecz:")
pusta_lista.append(rzecz)
rzecz = input("podaj 2 rzecz:")
pusta_lista.append(rzecz)
rzecz = input("podaj 3 rzecz:")
pusta_lista.append(rzecz)
print(pusta_lista)

podaj rzecz: stół
podaj 2 rzecz: krzesło
podaj 3 rzecz: lampa

['stół', 'krzesło', 'lampa']

In [3]:
lista = [1, 32, 441]
sum(lista)

474

In [4]:
len(lista)

3

In [5]:
sum(lista) / len(lista)

158.0